/*  Default Page Components and Home Page Styles */
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background-color: #4A6D34;
    height: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: #4A6D34;
}

.navbar-light .navbar-nav li{
    color: #4A6D34;
    width: 25%;
}

#header-nav .navbar-toggler{
    color: #4A6D34;
    border: 1px solid #4A6D34;;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color: #4A6D34;
    color: #FFFFFF;
}

.navbar-light .navbar-nav a.nav-link:hover {
    background-color: #809971;
    color: #FFFFFF;
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}


.navbar-nav li{
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#header-nav {
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #4A6D34 ;
    background-color: #FFFFFF;
}

#header-nav div.container-fluid{
    width: 100%;
}


#header-nav .container-fluid a.navbar-brand{
    font-weight: bold;
    color: #4A6D34;
    padding-left: 10%;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #454545;
    color: #fff;
    bottom: 0;
    /* position: absolute; */
}

.footer p {
   padding-top: 10px;
   font-size: 13px;
}

div#homePageCarousel{
    margin-top: 20px;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 25px #25371a;
    border: 2px solid #25371a;
    border-radius: 6px;
}

div#homeTiles{
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:66.5%;
    position:relative;
    height:0;

}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

a.btn-primary{
    background-color: #4A6D34;
    border-color: #4A6D34;
}

a.btn-primary:hover, a.btn-primary:active, a.btn-primary:active:hover {
    background-color: #809971;
    border-color: #4A6D34;
    box-shadow: 0 0 0 0.25rem rgba(128, 153, 113, 0.5);
}

a.btn-primary:focus, a.btn-primary.active:focus {
    color: #fff;
    background-color: #809971;
    border-color: #809971;
    box-shadow: 0 0 0 0.25rem rgba(128, 153, 113, 0.5);
  }

#homeTiles .row div.card{
    margin-bottom: 20px;
    box-shadow: 0 0 25px #25371a;
    border: 2px solid #25371a;
    margin-left: auto;
    margin-right: auto;
}

#homeTiles .row div.card div.card-body h5{
    color: #4A6D34;
}

.card-footer{
    border-top: 1px solid #fff;
    background-color: #fff;
}

.card-footer a{
   margin-bottom: 8px;
}

.row div.card div.mapouter div.gmap_canvas iframe{
    width: 100%;
    height: 250px;
}

#homeTiles div.row{
    margin-left: auto;
    margin-right: auto;
}

.panel-footer div{
    font-size: 13px;
    padding-top: 10px;
}

header{
    min-height: 10vh;
}

div#main-content{
    min-height: 85vh; 
}

footer {
    min-height: 5vh;
}


  /* About Page Styles */
div#about-content{
    margin-top: 20px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 5px;
    box-shadow: 0 0 25px #2c411f;
    border: 2px solid #2c411f;
    border-radius: 6px;
    margin-bottom: 20px;
}

span#date-origin, span#origin-owner, span#restaurant-name{
	color: #4A6D34;
}  

div#about-content h1,div#specials-content h2, div#menu-content h2, div#about-content h2, div#about-content hr{
    color: #4A6D34;
}

div#about-content div.row div p{
    line-height: 28px;
}

div#about-content div.row div p{
    padding-right: 20px;
    padding-left: 30px;
    text-indent: 30px;
}


div#about-content div.row div img{
    height: 250px;
    width: 100%;
    border-radius: 2%;
    margin-left: 30px;

}

div#about-content div.row{
    margin-bottom: 3%;
}

div#menu-content, div#specials-content{
    margin-top: 20px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 5px;
    box-shadow: 0 0 25px #2c411f;
    border: 2px solid #2c411f;
    border-radius: 6px;
    margin-bottom: 20px;
}

#about-content div.row img{
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
}

.accordion-button:focus {
    z-index: 3;
    border-color: #809971;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(166, 184, 156);
}

.accordion-button:not(.collapsed) {
    color: #f5f5f5;
    background-color: #6c895a;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#f5f5f5' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}

.accordion-button{
   background-color: #becbb6;
}

.accordion-button:hover{
    z-index: 3;
    border-color: #6c895a;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(166, 184, 156);
 }

 div.accordion-item:last-child{
    margin-bottom: 8px;
}

 h5.card-title{
    color: #4A6D34;
 }

 div.accordion-body div div.card{
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
 }

 div#specials-content div.card{
     width: 95%;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
     -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
 }

div#specialsBody{
    margin-bottom: 15px;
}

@media only screen and (max-width: 576px) {
    div#homeTiles{
        padding-left: 0;
        padding-right: 0;
        width: 97%;
    }

    #homeTiles.row div.card{
        margin-bottom: 20px;
        box-shadow: 0 0 12.5px #25371a;
        border: 1px solid #25371a;
        margin-left: auto;
        margin-right: auto;
    }

    div#homePageCarousel{
        margin-top: 0px;
        margin-bottom: 17px;
        width: 100%;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        box-shadow: 0 0 0;
    }

    footer.panel-footer{
        height: 50px;
    }

    .panel-footer div p{
        padding-top: 7px;
    }

    div#about-content{
        width: 92%;
    }

    div#menu-content{
        width: 92%;
    }
    div#specials-content{
        width: 92%;
    }
  }

@media only screen and (max-width: 991px) {
    .navbar-nav{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .navbar-light .navbar-nav li{
        width: 100%;
    }

    div#about-content div.row div p{
        padding-top: 10px;
        padding-left: 0;
    }

    div#about-content div.row div img{
        margin-left: 0;
    
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .row div.card{
        height: 95%;
    }

    .row div.card div.mapouter div.gmap_canvas iframe{
        height: 249px;
    }

    div#about-content div.row div img{
        border-radius: 2.5%;
    }
    
  }





