/*  Styles */

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #4A6D34;
}

.navbar-light .navbar-nav .nav-link{
    color: #4A6D34;
}

.navbar-light .navbar-nav li{
    color: #4A6D34;
    width: 25%;
}

#header-nav .navbar-toggler{
    color: #4A6D34;
    border: 1px solid #4A6D34;;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color: #4A6D34;
    color: #FFFFFF;
}

.navbar-light .navbar-nav a.nav-link:hover {
    background-color: #809971;
    color: #FFFFFF;
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}


.navbar-nav li{
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#header-nav {
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #4A6D34 ;
    background-color: #FFFFFF;
}

#header-nav div.container-fluid{
    width: 100%;
}


#header-nav .container-fluid a.navbar-brand{
    font-weight: bold;
    color: #4A6D34;
    padding-left: 10%;
}

footer.panel-footer{
    height: 40px;
    background-color: #454545;
    /* color: #FFFFFF; */
    color: #fff;
}

.panel-footer div{
    font-size: 13px;
    padding-top: 10px;
}

div#homePageCarousel{
    margin-top: 20px;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 25px #25371a;
    border: 2px solid #25371a;
    border-radius: 6px;
}

div#homeTiles{
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

a.btn-primary{
    background-color: #4A6D34;
    border-color: #4A6D34;
}

a.btn-primary:hover, a.btn-primary:active, a.btn-primary:active:hover {
    background-color: #809971;
    border-color: #4A6D34;
    box-shadow: 0 0 0 0.25rem rgba(128, 153, 113, 0.5);
}

a.btn-primary:focus, a.btn-primary.active:focus {
    color: #fff;
    background-color: #809971;
    border-color: #809971;
    box-shadow: 0 0 0 0.25rem rgba(128, 153, 113, 0.5);
  }

.row div.card{
    margin-bottom: 20px;
    box-shadow: 0 0 25px #25371a;
    border: 2px solid #25371a;
    margin-left: auto;
    margin-right: auto;
}

.row div.card div.mapouter div.gmap_canvas iframe{
    width: 100%;
    height: 250px;
}

#homeTiles div.row{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 576px) {
    div#homeTiles{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    div#homePageCarousel{
        margin-top: 10px;
        width: 97%;
    }
  }

@media only screen and (max-width: 991px) {
    .navbar-nav{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .navbar-light .navbar-nav li{
        width: 100%;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .row div.card{
        height: 95%;
    }

    .row div.card div.mapouter div.gmap_canvas iframe{
        height: 164px;
    }
  }
  





